
.action {
  .remove {
    color: red;
    margin-left: 0.5em;
  }
}

.datepicker {
  z-index: 1100 !important;
}

//Center modal add new user
.modal {
  margin: auto;
  padding: 1em 2em;
  .vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
  }
  .vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
  }
  .modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit;
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;
    border-radius: 1em;
  }
  .form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  }
}

.menu-bottom {
  button {
    margin-right: 1em;
  }
}